@page
@model Webbasierende_Verwaltungsapplikation_fuer_KMU.Pages.User.KontoInformationenAnfordernModel
@{
}
<div class="container">

    <div class="card text-white bg-primary py-5">
        <div class="card-body text-center">
            <div>
                <h2>Konto Informationen anfordern.</h2>
                <p>-Hier steht text-</p>
                <form method="post">
                    <input class="btn btn-info" type="submit" value="Informationen jetzt herunterladen." />
                </form>
            </div>
        </div>
    </div>
</div>